<!DOCTYPE html>
<html>
	<head>
		{{template "base/head.html" .}}
		{{template "head" .}}
	</head>
	<body>
		 <!-- container section start -->
  		<section id="container" class="">
			{{template "base/topnav.html" .}}
			{{template "base/sidenav.html" .}}
			<!--main content start-->
			<section id="main-content">
				{{template "content" .}}
			</section>
			<!--main content end-->
		</section>
		<!-- container section end -->
		{{template "base/commonjs.html" .}}
		{{template "customjs" .}}
	</body>
</html>